/* Custom Stylesheet */


/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
    color: white;
    font-family: 'Geo', sans-serif;
    font-size: 100px;
}

p {
    line-height: 2rem;
}

.incognito {
    font-size: 100px;
    font-family: 'Futura';
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
    text-align: center;
}

h5 {
    color: white;
    font-family: 'Geo', sans-serif;
}

.button-collapse {
    color: #26a69a;
}

#download-button {
    display: inline-block;
    width: 200px;
    padding: 8px 8px 8px 8px;
    font-family: 'Geo', sans-serif;
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
    text-align: center;
    border: 3px solid #fff;
    text-align: center;
    outline: none;
    text-decoration: none;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: black;
}

.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
    color: black;
    font-family: 'Geo', sans-serif;
    font-size: 100px;
}

body {
    background-color: black;
    font-family: 'Geo', sans-serif;
    font-size: 20px;
}

#container {
    width: 500px;
    margin: auto;
}